// backgrounds
$background-color: #e6e7e8;
$background-color-primary: #4572a6;
$background-color-inverse: #414042;
$main-appbar-color: #414042;
$classification-bar-color: #252122;
$search-bar-color: #4572a6;
$action-bar-color: #414042;
$tab-bar-color: #4572a6;
$modal-header-bar-color: #4572a6;

//fonts
$font-color: #414042;
$font-inverse-color: #fefefe;
$modal-menu-font-color: #4572a6;

//icons
$icon-color: #414042;
$icon-inverse-color: #fefefe;
$active-icon-color: #4874a7;
$accent-color: #fdbb58;

//menus
$active-menu-item-color: #414042;
$selected-menu-item-color: #4572a6;
$border-color: #414042;
