$appbar-height: 34px;
$classificationbar-height: 24px;
$searchbar-height: 50px;
$note-controls-height: 35px;
// Sum of the heights of containers above and below the editor frame.
$editor-height: 243px;
$feedactionbar-height: 3rem;
